.Button {
    width: 150px;
    height: 50px;
    padding: 10px;
    border: 2px solid #eee;
    background: none;
    margin-top: auto;

}

.Button:hover,
.Button:active {
    background-color: aqua;
}